<%= form_for [topic, post, Comment.new] do |f| %>
  <% if post.comments.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(comments.errors.count, "error") %>.</h4>
      <ul>
        <% comments.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_group_tag(comments.errors[:body]) do %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter comment here" %>
  <% end %>

  <div class="form-group">
    <%= f.submit "Save comment", class: 'btn btn-success' %>
  <div>
<% end %>