<h1><%= @post.markdown_title %></h1>

<div class="row">
  <div class="col-md-8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>

    <p><%= @post.markdown_body %></p>
  </div>
  <div class="col-md-4">
  <% if policy(@post).edit? %>
<%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
  <% end %>
  </div>
</div>

<% if @post.summary.present? %>

  <h2>Post Summary</h2>
  <p><%= @post.summary.body %></p>

<% else %>

  <%= form_for [@topic, @post, @post.build_summary] do |f| %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>

<% end %>
  
  <% if @post.avatar.present? %>
    <small>
    
    <h3>Check out the image for the Post:</h3>
     <p><%= image_tag(@post.avatar.tiny.url) %></p>
    </small>
  <% end %>

  <% if @post.comments.present? %> 

    <h1>Comments</h1>
    <% @post.comments.each do |comment| %>
      <p><%= comment.body %></p>
    <% end %>

  <% end %>

  <% if policy(@post).update? %>
  <div>
  <%= form_for [@topic, @post, @post.comments.new] do |f| %>
    <%= f.text_area :body %>
    <%= f.submit %>
  </div>
  <% end %>
  <% end %>
